@import "tailwindcss";

h1, h2, span, p {
    color: var(--color-on-secundary);
    text-align: center;
    line-height: 125%;
    font-size: var(--text-small);
}

h1 {
    font-size: var(--text-big);
}

h2 {
    font-size: var(--text-medium);
}

button {
    line-height: 125%;
}

input:focus, select:focus, button:focus {
    outline: none;
}
