@import "tailwindcss";

:root {
    background-color: var(--color-background);
    font-family: var(--font-autour-one);
}

@theme {
  --color-primary: #3F4A3C;
  --color-secundary: #799973;
  --color-tertiary: #9D6E1E;

  --color-on-primary: #F6FFF4;
  --color-on-secundary: #E4F0E1;
  --color-on-tertiary: #FFF4DB;

  --color-background: #EFFDEC;
  --color-on-brackground: #BDD8B8;

  --font-autour-one: "Autour One", sans;

  --text-big: 1.875rem;
  --text-medium: 1.25rem;
  --text-small: 1rem;
  --text-very-small: 0.813rem;
  --text-smallest: 0.688rem;

  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 40px;
}

